body{
    background-color: coral;
}
h1{
    background-color: rgb(19, 220, 56); color: rgb(2, 2, 219);
}
p{
    background-color: antiquewhite; color: blue;
    font-family: "Bitcount Single", consolas;
    font-style: italic;
    font-size: 25px;
    text-decoration: wavy underline;
}

